<!DOCTYPE html>
<html>
<head>
  <title>Most Groovey Hair Salon!</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href="../Content/css/styles.css">
</head>
<body>
  <div class="page-header">
    <h1>Most Groovey Hair Salon!</h1>
  </div>
  <div class="container">

    
  </div>

</body>
</html>
