<!DOCTYPE html>
<html>
<head>
  <title>Most Groovey Hair Salon!</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href="../Content/css/styles.css">
</head>
<body>
  <div class="page-header">
    <h1>Most Groovey Hair Salon!</h1>
  </div>
  <div class="container">
    <h2>Stylists</h2>
    <ul>
      @if (Model.Count != 0)
      {
        @foreach (var stylist in Model)
        {
          <li><a href="/stylists/@stylist.GetId()">@stylist.GetName()</a> | <a href="/stylists/edit/@stylist.GetId()">Edit</a>|
            <form action = "/stylists/delete/@stylist.GetId()" method = "post">
              <input type="hidden" name="_method" value="DELETE">
              <button type = "submit">Delete</button>
            </form>
          </li>
        }
      }
      else{
        <p>No Stylists have been added yet!</p>
      }

    </ul>
    <h2>Add a Stylist</h2>
    <form action = "/" method = "post">
      <label for = "stylist-name">Name</label>
      <input id = "stylist-name" name = "stylist-name" type = "text">
      <button type = "submit">Add Stylist</button>
    </form>

  </div>

</body>
</html>
