<!DOCTYPE html>
<html>
<head>
  <title>Edit Stylist!</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href="/Content/css/styles.css">
</head>
<body>
  <div class="page-header">
    <h1>Edit Stylist</h1>
  </div>
  <div class="container">
    <form action = "/stylists/edit/@Model.GetId()" method = "post">
      <input type="hidden" name="_method" value="PATCH">
      <label for = "stylist-name">Name</label>
      <input id = "stylist-name" name = "stylist-name" type = "text" value = "@Model.GetName()">
      <button type = "submit" class="btn-primary">Save Changes</button>
    </form>
    <br>
    <p><a href = "/">Home</a></p>
  </div>
</body>
